# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# Flask stuff:
instance/
.webassets-cache

# Enviroment
.pyenv
pyenv/
pyenv.bak/

# Bower components
bower_components
