{% extends "base.html" %}
{% block content %}
<div class="table-responsive-sm">
    <table class="table table-sm table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
               <th scope="col">Исходная ссылка RTSP</th>
              <th scope="col">Ссылка на просмотр</th>
          </tr>
        </thead>
        <tbody>
            {% if list %}
                {% for key, value in list.items() %}
                    <tr>
                        <th scope="row"> <!-- Number -->
                            {{ loop.index }}
                        </th>
                        <td>
                            {{ value }}
                        </td>
                        <td>
                            <a class="nav-link" href="{{ url_for('stream', stream_id=key ) }}">Ссылка</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
    </tbody>
    </table>
</div>
{% endblock %}
