{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="static/css/index.css">
<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center mx-auto w-75">
        <div class="container pt-1">
            <div class="container">
                <div class="row">
                    <div class="col-12 bg-white border rounded pt-3">
                        <h1 align = center class="alert alert-info" role="alert"> Такой ссылки не существует :(</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
